__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll

*.egg-info/
.eggs/
dist/
build/
.cache/
.mypy_cache/
.pytest_cache/

.venv/
venv/
env/
ENV/

*.log

.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/


cplex.log
*.prm
*.mst
*.sav
gurobi.log
